{% extends 'main.html' %}

{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{ request.user|title }}</h1>
        <h3 style="margin:0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input class="button" type="submit" value="Logout">
    </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="get" style="margin-top: 20px; display: flex">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b</a>
</div>



<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a> <!-- &#215; inserts an X symbol(can look up html icons e.g. back arrow, etc ) -->
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a> <!-- &#215; inserts an X symbol(can look up html icons e.g. back arrow, etc ) -->
            {% endif %}
        </div>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</div>
{% endblock content %}
